*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl

*.tfvars
*.tfvars.json

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.flaskenv

node_modules/
npm-debug.log*
yarn-debug.log*

.DS_Store
Thumbs.db
.idea/
.vscode/

.aws/
credentials
aws_keys.csv
